.place__title{
  display: flex;
  margin: 0 0 48px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 460px;
}

@media screen and (max-width: 768px){
  .place__title{
    font-size: clamp(32px, 7vw, 42px);
    line-height: 110%;
  }
}

@media screen and (max-width: 500px){
  .place__title{
    margin: 0 0 32px 16px;
    font-size: 32px;
    line-height: 109%;
  }
}