.place__paragraphs{
  margin: 0;
  grid-column: 2;
}

@media screen and (max-width: 600px){
  .place__paragraphs{
    grid-column: 1;
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
  }
}