@media screen and (max-width: 1024px){
  .lead__container{
    width: calc(100% - 48px*2);
  }
  
  .lead__subtitle{
    margin-bottom: 56px;
  }

  .intro{
    margin: 0 0 0 48px;  
  }

  .photo-grid{
    grid-template-columns: repeat(3, minmax(calc((100% - 48px*2)/3), 1fr));
    gap: 14px;
  }

  .places{
    width: calc(100% - 48px*2);
  }

  .cover{
    width: 100%;
  }
}


@media screen and (max-width: 768px){
  .lead__container{
    width: 100%;
  }

  .lead__caption{
    margin: 8px 0 0 24px;
  }

  .photo-grid{
    width: calc(100% - 24px*2);
    grid-template-columns: repeat(2, minmax(calc((100% - 24px*2)/2), 1fr));
    gap: 16px;
    margin: 88px auto;
  }

  .intro__title{
    margin-top: 88px;
  }

  .intro{
    margin: 0 0 0 24px;  
  }

  .places{
    width: calc(100% - 24px*2);
    margin-bottom: 90px;
  }

  .place__title{
    font-size: 42px;
    line-height: 110%;
  }

  .place__paragraph{
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px){
  .header{
    padding: 16px 16px 0;
  }

  .header__logo{
    width: 142px;
    height: 42px;
  }

  .header__lang-link{
    font-size: 18px;
    line-height: 111%;
  }

  .header__lang-links{
    margin-top: 14px;
  }

  .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
  }

  .lead__subtitle{
    margin: 16px 16px 40px;
    max-width: 288px;
  }

  .lead__caption{
    margin: 8px 0 0 16px;
  }

  .photo-grid{
    width: calc(100% - 16px*2);
    grid-template-columns: minmax(calc(100% - 24px*2), 1fr);
    gap: 12px;
    margin: 64px auto;
  }

  .intro__title{
    margin-top: 64px;
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }

  .intro{
    margin: 0 0 0 16px;
  }
  
  .places{
    width: 100%;
    margin-bottom:66px;
  }

  .place{
    grid-template-columns: none;
    grid-template-rows: repeat(4,min-content);
    margin-bottom: 50px;
  }

  .place__title{
    margin: 0 0 32px 16px;
    font-size: 32px;
    line-height: 109%;
  }

  .place__website{
    margin: 0 0 32px 16px;
    grid-row: 2;
  }

  .place__paragraph{
    margin-bottom: 25px;
  }
  
  .place__paragraphs{
    width: calc(100% - 16px*2);
    margin: 0 auto;
  }

  .place__image{
    grid-row: 3;
    margin-bottom: 32px;
  }

  .cover__overlay{
    grid-template-columns: auto 288px auto;
  }

  .cover__title{
    max-width: 240px;
    font-size: 32px;
    line-height: 109%;
  }

  .cover__subtitle{
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }

  .footer{
    margin-left: 16px;
    flex-direction: column;
  }

  .footer__links{
    flex-direction: column;
  }
  
  .footer__link{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 100%;
  }

  .footer__copyright{
    margin: 48px 0 24px 16px;
    line-height: 100%;
  }
}