.footer__link{
  color: #fff;
  text-decoration: none;
  margin: 0 18px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + 8 * (100vw - 400px) / 880);
  line-height: 112%;
}

.footer__link:last-of-type{
  margin: 0;
}

@media screen and (max-width: 425px){  
  .footer__link{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 100%;
  }
}