.lead__title{
  max-width: 720px;
  font-style: normal;
  text-align: center;
  line-height: 104%;
  font-size: calc(40px + 56 * (100vw - 400px) / 880);
  font-weight: 900;
  margin: 0 auto;
  height: fit-content;
}

@media screen and (max-width: 425px){
  .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
  }
}