.place__paragraph{
  margin: 0 0 26px 0;
  display: grid;
  font-style: normal;
  font-weight: 400;
  font-size: calc(8px + 8 * (100vw - 400px) / 880);
  line-height: 163%;
}

.place__paragraph:last-of-type{
  margin: 0;
}

@media screen and (max-width: 425px){
  .place__paragraph{
    margin-bottom: 25px;
  }
}