.footer__copyright{
  margin: 0;
  display: grid;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: end;
}

@media screen and (max-width: 425px){  
  .footer__copyright{
    margin: 48px 0 0 0;
    line-height: 14px;
  }
}