.lead__image{
  margin: auto;
  display: flex;
  max-width: 984px;
}

@media screen and (max-width: 1024px){
  .lead__image{width: calc(100% - 48px*2);}
}

@media screen and (max-width: 768px){
  .lead__image{width: 100%;}
}