.lead__subtitle{
  max-width: 640px;
  margin: 32px auto 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
}

@media screen and (max-width: 1024px){ 
  .lead__subtitle{
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px){
  .lead__subtitle{
    font-size: clamp(16px, 6vw, 30px);
  }
}

@media screen and (max-width: 425px){
  .lead__subtitle{
    font-size: 16px;
    margin: 16px auto 40px;
    max-width: 288px;
  }
}