.cover__overlay{
  color: #fff;
  background-image: url("../../../images/__background.jpg");
  background-size: cover;
  height: calc(200px + 540 * (100vw - 400px) / 880);
  background-repeat: no-repeat;
  text-decoration: none;
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(4, max-content);
  justify-items: center;
  width: 100%;
}

@media screen and (max-width: 425px){
  .cover__overlay{
    grid-template-columns: auto 288px auto;
  }
}