.cover__overlay{
  color: #fff;
  background-image: url(../../../images/__background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  background-repeat: no-repeat;
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-items: center;
  max-width: 1184px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1024px){
  .cover__overlay{
    min-height: 640px;
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .cover__overlay{
    min-height: 480px;
  }
}

@media screen and (max-width: 425px){
  .cover__overlay{
    min-height: 200px;
  }
}
