.cover__title{
  color: #fff;
  display: grid;
  margin: 0 auto 32px auto;
  width: 560px;
  grid-column: 2;
  grid-row: 2;
  opacity: 1;
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 690px){
  .cover__title{
    font-size: 64px;
    width: 100%;
    line-height: 110%;
  }
}

@media screen and (max-width: 425px){
  .cover__title{
    max-width: 240px;
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
  }
}