.cover__title{
  color: rgba(255, 255, 255, 1);
  display: grid;
  margin: 0 auto 32px auto;
  width: calc(288px + 272 * (100vw - 400px) / 880);
  grid-column: 2;
  grid-row: 2;
  opacity: 1;
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: calc(32px + 40 * (100vw - 400px) / 880);
  line-height: 106%;
  text-align: center;
}

@media screen and (max-width: 425px){
  .cover__title{
    max-width: 240px;
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
  }
}