.lead__container{
  width: calc(100% - 148px*2);
  height: calc(200px + 415 * (100vw - 400px) / 880);
  flex-wrap: wrap;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
.lead__container{width: calc(100% - 48px*2);}
}

@media screen and (max-width: 768px){
  .lead__container{width: 100%;}
}