.footer{
  display: flex;
  width: calc(100% - 48px*2);
  justify-content: space-between;
  margin: 92px auto 0;
  height: fit-content;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px){
  .footer{
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px){
  .footer{
    width: calc(100% - 24px*2);
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px){
  .footer{
    margin-left: 16px;
    flex-direction: column;
    margin-top: 64px;
  }
}